.input-instruction {
  color: #999;
  padding-top: 6px;
}
.input-instruction i {
  font-size: 16px;
  position: relative;
  top: 1px;
  margin-right: 3px;
}
label {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 5px;
}
input[type="radio"],
input[type="checkbox"] {
  line-height: normal;
  margin: 2px 0 0;
}
.iconic-input {
  width: 100%;
  table-layout: fixed;
}
.iconic-input .input-group-addon {
  position: relative;
  padding: 0px;
  border: 0px;
  width: 0px;
  top: 2px;
}
.iconic-input .input-group-addon + input.form-control {
  padding-left: 35px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.iconic-input .input-group-addon span.input-icon {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 6px 12px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  border: 0px;
  z-index: 5;
  background-color: transparent;
  line-height: 1.4;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  pointer-events: none;
}
.iconic-input .input-group-addon:last-child span.input-icon {
  left: auto;
  right: 0;
}
.iconic-input input.form-control {
  padding-right: 35px;
}
.iconic-input.input-group-lg .input-group-addon span.input-icon {
  line-height: 1.7;
}
.iconic-input .form-control:first-child {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.iconic-input .input-group-addon::first-child {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.form-group-input .input-group.iconic-input .form-control,
.form-group-input .form-control {
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
  margin-top: -1px;
}
.form-group-input .input-group:first-child .form-control,
.form-group-input .form-control:first-child {
  -webkit-border-radius: 4px 4px 0 0 !important;
  border-radius: 4px 4px 0 0 !important;
}
.form-group-input .input-group:last-child .form-control,
.form-group-input .form-control:last-child {
  -webkit-border-radius: 0 0 4px 4px !important;
  border-radius: 0 0 4px 4px !important;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: -2px;
}
.form-group-input .form-control:focus {
  position: relative;
  z-index: 4;
}
.group-span-filestyle i {
  margin-right: 5px;
}
.icheck-input {
  margin-top: 5px;
  margin-bottom: 5px;
}
.icheck-input label {
  position: relative;
  top: 1px;
  left: 3px;
  font-weight: 400;
}
.dropdown-menu-right {
  left: auto;
  right: 0px;
}
.control-label {
  font-weight: 400;
}
.control-label .error {
  color: red;
}
label.error {
  font-weight: 400;
  color: red;
}
label.error .error-ins {
  color: cadetblue !important;
}
.form-control.error,
.form-control.error:focus {
  border: red 1px solid;
}
.form-control.valid,
.form-control.valid:focus {
  border: green 1px solid;
  background-color: #e8f5e9;
}
